<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>
    <h1>Restablecer Contraseña</h1>
    <form action="/api/reset-password/<%= token %>" method="POST">
        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" id="newPassword" name="newPassword" required />
        <button type="submit">Restablecer Contraseña</button>
    </form>
</body>
</html>
